# Dependencias
node_modules/
vendor/

# Entornos y secretos
.env
.env.*
!.env.example

# Compilación y builds
.next/
dist/
build/

# Logs y temporales
*.log
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db

# Datos persistentes de contenedores locales
data/
minio_data/
postgres_data/